<html>
<head>
    <meta charset="UTF-8">
    <title> </title>

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
            color: #888;
            line-height: 30px;
            /*text-align: center;*/
        }
        a, a:hover, a:focus {
            text-decoration: none;
        }
        a {
            /*text-decoration: none;*/
            color:#777;
        }
    </style>
</head>
<body>



<div id="usersInfo" style="position: relative;top: 10%;width: 80%;margin-left: 10%">
    <div>
        <input type="text" class="form-control" placeholder="请输入读者ID" v-model="input">
        <button v-on:click="checkInput" type="button" class="btn btn-Default form-control">查询</button>
    </div>
    <table class="table table-hover table-condensed">
        <tr>
            <th>读者ID</th>
            <th>姓名</th>
            <th>性别</th>
            <th>生日</th>
            <th>联系电话</th>
            <th>职称</th>

        </tr>
        <tr v-for="product in products">
            <td>{{product.uno}}</td>
            <td>{{product.uname}}</td>
            <td>{{product.usex}}</td>
            <td>{{product.ubirth}}</td>
            <td>{{product.uphone}}</td>
            <td>{{product.uposition}}</td>
        </tr>
    </table>
</div>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script type="text/javascript" src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">


    new Vue({
        el:'#usersInfo',
        data:{
            input:'',
            products:'',
        },
        methods:{
            checkInput:function(){

                if(this.input=='')
                    this.select("sys/BothUsers");
                else
                    this.select("sys/selectUser/"+this.input);
            },
            select:function(url){
                var vm=this;
                axios.get(url).then(function(response){
                    if(response.data.msg!="success"){
                        vm.error=response.data.msg;
                        return;
                    }
                    vm.products=response.data.data;
                }).catch(function(error){
                    console.log(error);
                });
            }

        }
    });
</script>
</html>