<html>
	<head>
		<meta charset="UTF-8">
		<title> </title>
		
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
		<link href="css/admin.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div class="navbar navbar-default">
			<div id="admin_top_list" class="container-fluid">
				<div class="navbar-header">
					<p class="navbar-brand">welcome</p>
				</div>
				<ul class="nav navbar-nav navbar-right container-fluid">
					<li><a v-on:click="change(0)" href="#">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 读者管理</a></li>
					<li><a v-on:click="change(1)" href="#">
						<span class="glyphicon glyphicon-book" aria-hidden="true"></span> 图书管理</a></li>
					<li><a v-on:click="change(2)" href="#" >
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 借书管理</a></li>
					<li><a v-on:click="change(3)" href="#">
						<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 还书管理</a></li>
					<li><a v-on:click="change(4)" href="#">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 管理员</a></li>
				</ul>
			</div>
		</div>
		<div id="admin_middle">
			
			<!--还书管理-->
			<div id="admin_middle_return" v-bind:class="{admin_div_hidden : returnIsHidden}">
				<div class="form-horizontal box b_and_r">
					
					<div class="form-group">
						<label class="col-lg-5 col-sm-3 col-xl-3 control-label">读者编号</label>
						<div class="col-sm-3">
							 <input type="text" id="Rid" class=" form-control" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-5 col-sm-3 control-label">图书编号</label>
						<div class="col-sm-3">
							<input type="text" id="Bid" class="form-control" >
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-4"></div>
						<div class="col-lg-4 col-sm-10">
							<button type="submit" class="btn btn-default btn-block">确定</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/page.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</html>